
@import url("https://fonts.googleapis.com/css?family=Oswald:300,300italic,400,400italic,600,600italic");
@import url("https://fonts.googleapis.com/css?family=Telex:300,300italic,400,400italic,600,600italic,800");

body {
  width: 100%;
  height: 100%;
  font-family: 'Telex', sans-serif;
  color: white;
  background-color: black;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}
p {
  margin: 0 0 25px;
  /*font-size: 18px;*/
  font-size: 1.3em;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    /*font-size: 20px;*/
    line-height: 1.6;
  }
}

a {
  /*color: #42DCA3;*/
  /*color: #7acffb;*/
  color: #8cd8ff;
  color: #a4d1f8;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: underline;
  /*color: #1d9b6c;*/
  /*color: #6dc5f3;*/
  color: #a4d1f8;
}


/*   ==========   GENERAL   ==========   */

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background: transparent;
}

.container {
  width: 89%;
}

.container-wide {
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

.img-container {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.img-title {
  font-size: 1.4em;
  text-align: center;
  font-style: italic;
  padding-top: 1em;
  padding-bottom: 2em;
}

section {
  color: #aebdcf;
  color: #a6b5c8;
  color: #97a7ba;
}

.row {
  width: 100%;
  padding: 0;
  margin: 0;
}

.row p {
  text-align: justify;
}

.row h2, .row form {
  text-align: center;
  padding-bottom: 1em;
}

.block-p {
  display: inline-block;
}

.ice-content {
  padding-top: 100px;
}

.top-no-offset {
  padding-top: 0;
}

.top-offset-large {
  padding-top: 8em;
}

.top-offset {
  padding-top: 5em;
}

.top-offset-small {
  padding-top: 2em;
}

.top-offset-tiny {
  padding-top: 1em;
}

.img-center {
  width: 100%;
  padding: 3vw;
  /*padding-left: 3vw;*/
  /*padding-right: 3vw;*/
}

.big-img {
  padding: 3em;
  width: 100%; 
  max-width: 1100px;
}

.small-img {
  width: 100%;
  max-width: 500px; 
  padding-left: 3vw;
  padding-right: 3vw;
}

.double-col {
  padding-left: 3vw;
  padding-right: 3vw;

  -webkit-column-count: 1;
     -moz-column-count: 1;
       -o-column-count: 1;
          column-count: 1;

  -webkit-column-gap: 10vw;
     -moz-column-gap: 10vw;
       -o-column-gap: 10vw;
          column-gap: 10vw;

}

.enlarged p {
  font-size: 1.5em;
}

.big-first {
  margin-top: -0.6em;
}

.big-first:first-letter {
  font-size: 180%;
  line-height: 1.3em;
}

.show-border {
  border: solid red 1px;
}

.locked {
  -webkit-user-select: none;
     -moz-user-select: none;
       -o-user-select: none;
          user-select: none;
  pointer-events: none;
}

@media (min-width: 992px) {
  .double-col {
    -webkit-column-count: 2;
       -moz-column-count: 2;
         -o-column-count: 2;
            column-count: 2;
  }

}

@media(min-width: 1200px) {
  .block-p {
    display: inline-block;
    /*display: block;*/
  }
}

@media (max-width: 992px) {
  .img-container {
    /*display: inline-block;*/
    width: 80%;
    padding: 5vw;
  }
}


@media (max-width: 450px) {
  .container {
    width: 100%;
  }
  .container-wide {
    padding-left: 0;
    padding-right: 0;
  }
  .img-container {
    /*display: inline-block;*/
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .big-img {
      padding-left: 0;
      padding-right: 0;
  }

  .double-col {
    padding-left: 1.3em;
    padding-right: 1.3em;
  }

}


/*   ==========   NAVBAR   ==========   */

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  background-color: black;
}
.navbar-custom .navbar-toggle {
  color:  #808080;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;

}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 600;
  letter-spacing: 3px;
  color: #c55d22;
}

.navbar-custom .navbar-brand:hover{
  color: rgba(255, 255, 255, 0.8);
}

.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color:  #808080;
  font-size: 1.1em;
  letter-spacing: 2px;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
     -moz-transition: background 0.3s ease-in-out;
       -o-transition: background 0.3s ease-in-out;
          transition: background 0.3s ease-in-out;
  text-align: center;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}


/*@media (min-width: 768px) {*/
@media (min-width: 982px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
       -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
         -o-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
            transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}


/*   ==========   INTRO   ==========   */

.intro {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  text-align: center;
  color: white;
  background: transparent;
}

.intro .intro-body {
  display: table-cell;
  position: relative;
  bottom: 0;
  vertical-align: bottom;
  overflow: hidden;
}

.intro .intro-body .brand-heading {
  /*color: #e7cec4;*/
  /*color: #ded9f1;*/
  color: #c55d22;
  font-size: 4em;
  font-family: 'Telex', sans-serif;
  text-shadow: 0 0 6px #c55d22;
  letter-spacing: 3px;
  margin-bottom: 0.3em;
}

.intro .intro-body .intro-text {
  font-size: 1.6em;
  line-height: 1.6em;
  text-transform: uppercase;
  color:  #808080;
  letter-spacing: 4px;
  font-family: 'Oswald', sans-serif;
}

.intro-text{
  margin-bottom: 0;
}

.heading-row {
  margin-bottom: 5vh;
}

.scrolly {
  margin-bottom: -4%;
  /*padding-top: 4.5%;*/
  padding-top: 0;

}
.page-scroll {
  display: inline-block; 
  background-position: center center;
  background-repeat: no-repeat;
}

.image-up, .image-down {
  height: 11vh;
  border: 0;
  margin: 0;
  padding: 0;
}

.image-up {
  opacity: 0.0;
  filter: alpha(opacity=99); /* IE */
  display: block;
  position: absolute;
  z-index: 100;
  -webkit-transition-duration: 0.96s;
     -moz-transition-duration: 0.96s;
       -o-transition-duration: 0.96s;
      -ms-transition-duration:  0.96s; /* IE9+ */
          transition-duration: 0.96s;
}

.image-up:hover  {
  border: 0;
  opacity: 1.00;
  filter: alpha(opacity=00); /* IE */
}

@media (max-width: 767px) {
  .image-up, .image-down {
    height: 7vh;
  }
  .heading-row {
    margin-bottom: 12vh;
  }
}

@media (min-height: 700px) {
  .image-up, .image-down {
    margin-bottom: 0px;
  }
}

@media (min-height: 800px) {
  .image-up, .image-down{
    margin-bottom: 0px; 
  }
}

@media (min-height: 900px) {
  .image-up, .image-down {
    margin-bottom: 0px; 
  }

  .intro .intro-body .brand-heading {
    font-size: 5em;
  }
}

/*@media (min-width: 767px) {*/
@media (max-width: 767px) {
  .intro {
    height: 100%;
    /*padding: 0;*/
  }

  .intro .intro-body .brand-heading {
    /*text-align: left;*/
    font-size: 2.8em;
    margin-bottom: 6vh;
  }

  .intro .intro-body .intro-text {
    /*font-size: 26px;*/
    font-size: 1.3em;
  }

}

@media (max-width: 450px) {
  .intro .intro-body .brand-heading {
    text-align: left;
    padding-left: 30px;
  }
}

@media (max-height: 600px) {
  .intro .intro-body .brand-heading {
    font-size: 2.8em;
    margin-bottom: 6vh;
  }

  .intro .intro-body .intro-text {
    font-size: 1.3em;
  }

  .heading-row {
    margin-bottom: 5vh;
  }

}


@media (min-height: 1100px) {
  .heading-row {
    margin-bottom: 8vh;
  }

}

@media (min-height: 700px) and (orientation: portrait) {

  .heading-row {
    margin-bottom: 15vh;
  }

}


/*  =========  GALAXY  =========  */

.galaxy {
  overflow: hidden;
}

#galaxy-core {
  position: absolute;
  width: 50%;
  margin-left: -5%;
  margin-top: -5%;
  /*height: 100%;*/
  /*width: 100%;*/
  /*background: url(../img/galactic_core4.png) no-repeat top left;*/
  /*background-size: 60%;*/
  /*margin-left: -20%;*/
}


/*   ==========  JUPITER   ==========   */

.jupiter-container {
  /*overflow: hidden;*/
  /*margin-top: -100px;*/
  height: 0;
  text-align: right;
  /*text-align: left;*/
}

#jupiter {
/*  margin-top: 18em;
  margin-bottom: -8em;
  margin-right: -10em;*/
  background: black;
  width: 50%;

  /*margin-top: -10%;*/
  margin-top: -15%;
  /*margin-bottom: -8em;*/
  margin-right: -10%;
  /*margin-left: -10%;*/
  border-radius: 50%;

  /*z-index: -2;*/
  /*box-shadow: 0 0 20px red;*/
  top: 0;
  /*height: 30px;*/
  /*overflow: hidden;*/
}

.jupiter-wrap {
  /*background: green;*/
  height: 0;
  bottom: 0;
  /*right: 0;*/
  width: 100%;
  position: relative;
  /*display: block;*/
  margin: 0;
  /*text-align: center;*/
  /*margin-right: 20%;*/
  /*display: inline-block;*/
  /*overflow: hidden;*/
}

.jupiter-crop {
  /*background: green;*/
  position: absolute;
  right: 0;
  width: 40vw;
  height: 40vw;
  margin: 0;
  padding: 0;
  /*border: solid red 1px;*/
  border-radius: 50%;
  overflow: hidden;
  margin-top: -13%;
  margin-right: -8%;
  /*z-index: -3;*/
/*  clip: rect(110px, 160px, 170px, 60px);
  clip-path: inset(10px 20px 30px 40px);*/
  /*clip: circle(30px at 35px 35px);*/
  /*clip-path: circle(30px at 35px 35px);*/

/*  -webkit-clip-path: circle(50%,50%,10%);
  clip-path: circle(50%,50%,10%);*/


}

video#jupiter-live {
  position: absolute;
/*  -webkit-clip-path: circle(50%,50%,10%);
  clip-path: circle(50%,50%,10%);*/
  right: 0;
  width: 40vw;
  /*clip-path: circle(30px at 35px 35px);*/
  /*border: solid green 1px;*/
  /*border-radius: 50%;*/
  /*margin-top: -13%;*/
  /*margin-right: -8%;*/
  /*background: darkorange;*/
  /*z-index: -3;*/
  /*z-index: -3;*/
}


/*.more {
  text-align: right;
  color: black;

}*/




/* ========= ICE ========= */

#surface-wrap {
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  display: block;
  overflow: hidden;
  width: 100%;
}

#surface {
  bottom: 0;
  width: 100%;
  z-index: 1000;
  margin-bottom: -1px; 
}

#ice {
  position: relative;
  width: 100%;
  height: 140vw;
  margin: 0;
  padding: 0;
  background: url(../img/ice.jpg) no-repeat top center;
  /*background-color: #010405;
  background-color: #005268;*/
  background-color: #053f57;
  background-size: 100%;
}

#ice a {
  /*color: #437e9d;*/
  /*columns: #3a7ea2;*/
  color: #2e7498;
}

#about {
  width: 95%;
  color: #365470;
}

#ice-block1 {
  height: 85%;
  overflow: hidden;
  direction: ltr; 
}

.ice-over {
  overflow: hidden;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
      -ms-border-radius: 8px;
       -o-border-radius: 8px;
          border-radius: 8px;
}

#ice-shadow1 {
  margin-right: -3em;
  margin-left: -3em;
  padding-left: 3em;
  padding-right: 3em;
}


#ice-shadow2 {
  margin-right: -3em;
  margin-left: -3em;
  padding-left: 3em;
  padding-right: 3em;
}

#ice-block2 {
  height: 85%;
  overflow: hidden;
}

#ib1 {
  direction: rtl;
  padding-left: 1em;
  padding-right: 1em;
}

#ib2 {
  padding-left: 1em;
  padding-right: 1em;
}

.solid-text {
  background: transparent;
  color: #365470;
}

.gradient-text {
  background:         linear-gradient(rgba(54,84,112, 1), rgba(54,84,112, 1) 85%, rgba(54,84,112, 0));
  background: -webkit-linear-gradient(rgba(54,84,112, 1), rgba(54,84,112, 1) 85%, rgba(54,84,112, 0));
  background:    -moz-linear-gradient(rgba(54,84,112, 1), rgba(54,84,112, 1) 85%, rgba(54,84,112, 0));
  background:      -o-linear-gradient(rgba(54,84,112, 1), rgba(54,84,112, 1) 85%, rgba(54,84,112, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


/*.mCustomScrollbar {

}

.mCSB_scrollTools {

}*/


.ice-block {
  overflow-y: auto;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
      -ms-border-radius: 8px;
       -o-border-radius: 8px;
          border-radius: 8px;
  height: 65vw;
  padding: 0;
}

.ice-block h2 {
  padding-top: 1em;
}

.block2 {
  /*margin-top: -20em;*/
  margin-top: -30vw;
}

#readmore-ib1 {
  text-align: right;
  direction: ltr;
  cursor: pointer;
  font-style: italic;
  color: #365470;
  line-height: 2em;
  padding-right: 1em;
}

#readmore-ib2 {
  text-align: right;
  cursor: pointer;
  font-style: italic;
  color: #365470;
  line-height: 2em;
  padding-right: 1em;
}

#ice-over2 {
    margin-top: 5vw;
  }




@media (max-width: 767px) {
  #surface {
    bottom: 0;
    margin-left: -25%;  /* -0.5*width + 50% */
    width: 150%;
  }

  #ice {
    background-size: 150%;
    height: 210vw;
  }

  .ice-block {
      /*margin-top: 100px;*/
      height: 70vw;
  }

  .block2 {
      /*margin-top: 5vw;*/
      height: 80vw;
  }

}


@media (min-width: 767px) {
  .ice-content {
    padding-top: 20vw;
    /*padding-top: 10vw;*/
  }
}

@media (max-width: 992px) {

  #about {
    width: 89%;
  }

  .ice-block {
    background: rgba(164,182,199,0.5);
     -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
         -ms-border-radius: 8px;
          -o-border-radius: 8px;
             border-radius: 8px;
    /*padding-top: 1em;*/
    box-shadow: 0 0 50px #9aadbe;
    height: 45vw;
    border: solid 1px #879eaf;
    /*border: solid 1px red;*/
    padding: 0;
    overflow: hidden;
  }

  .block2 {
    /*padding-top: 0;*/
    margin-top: 0;
    height: 55vw;
  }

}

@media (min-width: 1600px) {
  .ice-over {
    padding-right: 3vw;
    padding-left: 3vw;
  }

  #ice-shadow1, #ice-shadow2 {
    margin-right: -6em;
    margin-left: -6em;
  }

}

@media (max-width: 767px) {
  #ice-over1 {
    margin-top: 15vw;
  }

  #ice-over2 {
    margin-top: 6vw;
  }

  .ice-block {
      /*margin-top: 15vw;*/
      height: 70vw;
  }

  .ice-block.block2 {
      /*margin-top: 5vw;*/
      height: 80vw;
  }

}

@media (max-width: 450px) {
  #ice-over1 {
      /*margin-top: 50px;*/
      margin-top: 4vw;
  }

  #ice-over2 {
      /*margin-top: 50px;*/
      margin-top: 2vw;
  }

}


/*   ==========   UNDERICE   ==========    */

#underice {
  background: #053f57;
  background:         linear-gradient(180deg, rgb(5, 63, 87), rgb(0, 0, 0));
  background: -webkit-linear-gradient(270deg, rgb(5, 63, 87), rgb(0, 0, 0));
  background:    -moz-linear-gradient(270deg, rgb(5, 63, 87), rgb(0, 0, 0));
  background:      -o-linear-gradient(180deg, rgb(5, 63, 87), rgb(0, 0, 0)); 
  /*height: 900px;*/
  margin: 0;
  padding: 0;
  padding-top: 5vw;
}

.underice-block {
  padding: 5vw;
  padding-bottom: 0;
  /*padding-top: 0;*/
}

.underice-row {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 2vw;
  padding-top: 0;
  /*TRY REMOVE THIS TWO:*/
/*  margin: 0;
  width: 100%;*/
  display: block;
}

@media (max-width: 450px) {

  .underice-row {
    padding-left: 0;
    padding-right: 0;
  }

/*  .underice-block {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}*/

}


/*   ==========   BLACK   ===========   */

.black {
  background-color: black;
}

.black-block {
  padding: 5vw;
  padding-top: 0;
}

#velocity-undertext {
  font-size: 1.3em;
}

#velocity-underimg {
  font-size: 0;
}

#penetration-scheme-wrap {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
  padding-top: 0.5em;
  max-width: 800px;
}

#penetration-scheme{
  width: 100%; 
  bottom: 0; 
  border-radius: 6px;
  border: 2px solid #032c3d;
}

#trajectory-scheme-wrap {
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (max-width: 992px) {

  #penetration-scheme-wrap {
    margin: 0;
    padding-top: 0;
  }

  .black-block {
    padding-bottom: 0;
  }

  #penetration-scheme{ 
    margin: 0; 
    width: 80%;
  }

}

@media (max-width: 1600px) {

  #velocity-undertext {
    font-size: 0;
  }

  #velocity-underimg {
    font-size: 1.3em;
  }

}


/*   ===========   VIOLET   ============   */

.violet-block {
  padding: 5vw;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
}

#underblack {
  background-color: black;
  background:         linear-gradient( rgb(0, 0, 0), rgb(52, 0, 131));
  background: -webkit-linear-gradient( rgb(0, 0, 0), rgb(52, 0, 131));
  background:    -moz-linear-gradient( rgb(0, 0, 0), rgb(52, 0, 131));
  background:      -o-linear-gradient( rgb(0, 0, 0), rgb(52, 0, 131));
}

#violet {
  background: rgb(52, 0, 131);
}

#spacecraft, #payload, #auv-packed {
  max-width: 600px;
}

#trio-img {
  padding-bottom: 3em;
}

#sc-firstrow {
  padding-bottom: 0;
}


.r-img-left {
  margin-left: -20%;
  margin-right: -50%;
  margin-bottom: -40%;
  margin-top: -30%;
}

.r-img-right {
  margin-left: -50%;
  margin-right: -20%;
  margin-bottom: -40%;
  margin-top: -30%;
}

.r-img-center {
  margin-left: -50%;
  margin-right: -50%;
  margin-bottom: -40%;
  margin-top: -30%;
}

.r-img {
  padding-top: 0;
  padding-bottom: 5em;
  width: 45vw;
  max-width: 800px;
}

#snake-wrap {
  margin: 0;
  padding: 0;
  margin-top: -2em;
  padding-bottom: 7vw;
}

#img-worm {
  width: 100%;
  max-width: 1100px;
  padding: 5vw;
  padding-bottom: 2em;
}

#img-worm2 {
  width: 80%;
  max-width: 900px;
  padding: 5vw;
}

#right-drone {
  margin-top: 10vw;
}

#right-drone, #left-drone {
  max-width: 650px;
}

#drone-pics {
  margin-top: -2em;
}


#descent {
  max-width: 50%;
  /*max-height: 300px;*/
  display: inline-block;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 50%;
}

#so {
  padding-left: 6vw;
  padding-right: 6vw;
}

#may-be {
  /*width: 90%;*/
  /*margin-top: 3em;*/
  height: 600px;
  padding: 5em;
  
}

#may-be h3 {
 line-height: 1.5em; 
}

#bottom {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: -2px;
}


@media (max-width: 992px) {

  #trio-img {
    padding-bottom: 0;
    margin-bottom: -3.5em;
  }

  .r-img-left {
    margin-left: -50%;
    margin-bottom: -35%;
  }

  .r-img-right {
    margin-right: -50%;
    margin-bottom: -35%;
  }

  .r-img-center {
    margin-bottom: -35%;
  }

  .r-img {
    width: 90vw;
  }

  #drone-pics {
    /*margin-top: 5em;*/
    padding-top: 5em;
    padding-bottom: 5em;
  }

}


@media (max-width: 450px) {

#img-worm2 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;

}

#may-be, #so {
    padding-left: 3vw;
  padding-right: 3vw;
}

}

.photo {
  max-width: 250px;
  padding: auto;
  padding-top: 1em;
  padding-bottom: 2em;
  /*border: solid red 1px;*/
}

.photo-container h4 {
  margin: 0;
  padding: 0;
  padding-bottom: 0.5em;
}

.role-container {
  text-align: center top;
  height: 4em;
}


footer {
  /*padding: 0;*/
  border: transparent solid 0px;
  padding-top: 10px;
  padding-bottom: 30px;
  background: #1e2b3a;
}
footer p {
  margin: 0;
  font-size: 1.1em;
  color: #aebdcf;
}


img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

/*  ###########   BTCOIN   ###########   */

#donate-text p {
  font-size: 1.4em;
}

.donation-container {
  padding: 0;
  margin: 0;
  margin-top: 5em;
  margin-bottom: 5em;
}

.coin {
  font-family: 'Telex', sans-serif;
  float: left;
  height: 24px;
  margin: 6px;
  margin-top: 4px;
}
.reg {
  position: relative;
  z-index: 999;
  text-align: center;
  vertical-align: center;
  font-style: italic;
  background: #245d77;
  background:         linear-gradient(#245d77, #011016);
  background: -webkit-linear-gradient(#245d77, #011016);
  background: -moz-linear-gradient(#245d77, #011016);
  background: -o-linear-gradient(#245d77, #011016);
  display: block;
  margin: 0 auto;
  margin-top: 2px;
  /*width: 150px;*/
  font-size: 18px;
  line-height: 30px;
    padding: 3px;
    padding-right: 15px;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
      -ms-border-radius: 15px;
       -o-border-radius: 15px;
          border-radius: 15px;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  color: #AEBDC2;
  cursor: pointer;
}
 .reg:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
.pop {  
  width: 70%;
  z-index: 999;
  margin-top: 15px;
  text-align: center;
  display: none;
  position: absolute;
  left: 16%;
  background: #245d77;/* For browsers that do not support gradients */	
  background:        linear-gradient(#245d77, #011016);
  background: -webkit-linear-gradient(#245d77, #011016);
  background: -o-linear-gradient(#245d77, #011016);
  background: -moz-linear-gradient(#245d77, #011016);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
  padding: 0;
  padding-top: 40px;
}
.pop > p {
  text-align: center;
  color: #AEBDC2;
  font-size: 18px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
}
.number {
  cursor: pointer;
  margin: 0;
  position: relative;
  text-align: center;
  width: 93%;
  padding: 7px;
  font-size: 15px;
  color: black;
  background: white;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
         -o-border-radius: 3px;
          border-radius: 3px;
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
}


/*   ##########   CONTACT   ###########   */

input::selection {
  background: #73abcf;
}

input::-moz-selection{
  background: #73abcf;
}

textarea::selection {
  background: #73abcf;
}


textarea::-moz-selection{
  background: #73abcf;
}

.pop > span {
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 4%; 
  color: rgba(255, 255, 255, 0.6);
}
.pop > span:hover {
  color: #ffffff;
}
.qrcode {
  padding: 25px;

}

@media (max-width: 992px) {
   form {
    margin-bottom: 100px;
  }
  .reg {
    margin-bottom: 100px;
  }
  .pop {
    position: absolute;
    margin-top: -80px;
  }
}

#contact-area {
  width: 100%;
  background: #1e2b3a;
  box-shadow: #061220 0px 15px 20px -15px inset;
}

#contact-area p {
  color: #aebdcf;
}

.edem-contact {
  background: #aebdcf;
  color:black;
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
       -ms-border-radius: 4px;
        -o-border-radius: 4px;
           border-radius: 4px;
  padding: 0.5em;
}

.edem-input {
  background: #aebdcf;
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
       -ms-border-radius: 4px;
        -o-border-radius: 4px;
           border-radius: 4px;
  max-width: 350px;
  width: 90%;
  line-height: 30px;
  margin: 1em;
  padding: 0.5em;
  color: black;
  border: solid 1px #4E4E4E;
}

#send-msg {
  margin: 1em;
  height: 40px;
  max-width: 350px;
  width: 90%;
  color: #aebdcf;
  color: black;
  color: white;
  border: 0;
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
       -ms-border-radius: 4px;
        -o-border-radius: 4px;
           border-radius: 4px;
  line-height: 30px;
  font-size: 1.2em;
  background: #2a9ae1; /* For browsers that do not support gradients */	
  background:        linear-gradient(#2a9ae1, #125e8f);
  background: -webkit-linear-gradient(#2a9ae1, #125e8f);
  background: -o-linear-gradient(#2a9ae1, #125e8f);
  background: -moz-linear-gradient(#2a9ae1, #125e8f);
}

#send-msg:hover {
  background: #52b1ed; /* For browsers that do not support gradients */	
  background:         linear-gradient(#52b1ed, #2d73a0);
  background: -webkit-linear-gradient(#52b1ed, #2d73a0);
  background:      -o-linear-gradient(#52b1ed, #2d73a0);
  background:    -moz-linear-gradient(#52b1ed, #2d73a0);
}

#msg-wrap {
  margin-top: 2em;
  margin-bottom: 2em;

}

#message {
  width: 100%;
  min-height: 220px; 
  border: solid 1px #4E4E4E;
}

#message:select {
  background-color: green;
}

.input-container {
  width: 100%;
  min-height: 200px; 
  margin:0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.contact-row {
  padding-bottom: 4em;
}

.contact-container hr {
  border: 0;
  height: 3px;
  background: #1e2b3a; /* For browsers that do not support gradients */	
  background-image:         linear-gradient(to right, #1e2b3a, #121c23, #1e2b3a); 
  background-image: -webkit-linear-gradient(to right, #1e2b3a, #121c23, #1e2b3a);
  background-image:      -o-linear-gradient(to right, #1e2b3a, #121c23, #1e2b3a);
  background-image:    -moz-linear-gradient(to right, #1e2b3a, #121c23, #1e2b3a);


}

@media (min-width: 768px) {
  .contact-container {
    width: 80%;
    text-align: center;
    display: block;
  }
}



