#page-preloader {
  background: #000000;
  /*background: red;*/
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
}
#page-preloader p {
  color: #c55d22;
}
.loadig-container {
  position: absolute;
  bottom: 2%;
  right: 5%;
  display: inline-block;
  text-align: center;
}
.loader {
  background: none;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
}
.orbital {
  left: -18px;
  /*border: solid red 1px;*/
  /*background-color: #8E5832;*/
  background-color: #c55d22;
  /*background-color: #c5784c;*/
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  -webkit-animation: orbital 3s infinite linear;
  -moz-animation: orbital 3s infinite linear;
  -o-animation: orbital 3s infinite linear;
  animation: orbital 3s infinite linear;
}
.orbital_2 {
  left: -18px;
  /*border: solid red 1px;*/
  background-color: transparent;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  margin-top: -36px;
  -webkit-animation: orbital 6s infinite linear;
  -moz-animation: orbital 6s infinite linear;
  -o-animation: orbital 6s infinite linear;
  animation: orbital 6s infinite linear;
}
.orbital_3 {
  left: -18px;
  /*border: solid red 1px;*/
  background-color: transparent;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  margin-top: -36px;
  -webkit-animation: orbital 12s infinite linear;
  -moz-animation: orbital 12s infinite linear;
  -o-animation: orbital 12s infinite linear;
  animation: orbital 12s infinite linear;
}
.orbital_4 {
  left: -18px;
  /*border: solid red 1px;*/
  background-color: transparent;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  margin-top: -36px;
  -webkit-animation: orbital 28.5s infinite linear;
  -moz-animation: orbital 28.5s infinite linear;
  -o-animation: orbital 28.5s infinite linear;
  animation: orbital 28.5s infinite linear;
}
.io {
  width: 8px;
  height: 8px;
  /*top: 0;*/
  top: -33px;
  left: -27px;
  position: absolute;
  border-radius: 50%;
  background-color: #FFD700;
}
.europa {
  width: 7px;
  height: 7px;
  /*top: 0;*/
  top: -59px;
  left: -43px;
  position: absolute;
  border-radius: 50%;
  background-color: #D7AFA3;
}
.ganymede {
  width: 11px;
  height: 11px;
  /*top: 0;*/
  top: 80px;
  left: -117px;
  position: absolute;
  border-radius: 50%;
  background-color: #8C8C8C;
}
.callisto {
  width: 12px;
  height: 12px;
  /*top: 0;*/
  top: 14px;
  right: -230px;
  position: absolute;
  border-radius: 50%;
  background-color: #7F6F60;
}
@keyframes orbital {
  to {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes orbital {
  to {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes orbital {
  to {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes orbital {
  to {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes orbital-inicial {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes orbital-inicial {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes orbital-inicial {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-webkit-keyframes orbital-inicial {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}